.category1-bg{
    display: flex;
    border-bottom: 1px dotted #e3e5ec;
}
.category2-bg {
    width: 90%;
    height: 40%;
}
.category2-bg a{

}
.category2-bg a:hover{

}
.text-bg{
    font-size: 12px;
    margin-top: 5px;
}