.bd-ct{
    margin-top: 20px;
}
.bd1-ct > li{
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px; 
}
.bd2-ct{
    border: 2px solid black;
    width: 12%;
}
.bd3-ct{
    margin-top: 30px;
    color: #9a9a9a;
}
.input-ct{
    display: flex;
}
input.search {
    width: 100%;
    height: 40px;
}

input.search1{
    width: 4%;
    height: 40px;
}
.search1.ip-ct {
    margin-left: 5%;
    padding-right: 11%;
}