.bd-ct{
    margin-top: 20px;
}
.bd1-ct > li{
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px; 
}
.bd2-ct{
    border: 2px solid black;
    width: 12%;
}
.bd3-ct{
    margin-top: 30px;
    color: #9a9a9a;
}
.input-ct{
    display: flex;
}
input.search {
    width: 100%;
    height: 40px;
}

input.search1{
    width: 100%;
    height: 40px;
}

.search1.ip-ct {
    margin-left: 14%;
}


.button {
    position: relative;
    display: inline-block;
    padding: 10px 28px;
    line-height: normal;
    color: #fff;
    border: 1px solid #000000;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    background-color: transparent;
    -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 1;
    overflow: hidden;
}