.category1-bg{
    display: flex;
    border-bottom: 1px dotted #e3e5ec;
}
.category1-bg li{
    padding-left: 10px;
}

.category2-bg {
    width: 90%;
    height: 40%;
}
.category1-bg a{
    color: black;
}
.category1-bg a:hover{
    color: black;
    text-decoration: none;
}
.text-bg{
    font-size: 12px;
    margin-top: 5px;
}

.category3-bg > ul > li > img{
    width: 20%;
}
.text-bg{
    font-size: 16px;
  
}
.text2-bg