.hd-pr {
  background-color: #fafafa;
}

.hd-pr a {
  text-decoration: none;
  color: black;
}

.hd-pr a:hover {
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.title-hd-pr {
  padding: 13px;
  font-size: 13px;
}

.slides-pr {
  margin-top: 25px;
}

.img-mini-pr {
  margin-top: 20px;
}

.img-mini-pr>ul {
  margin-top: -5px;
}

.img-mini-pr>ul>li>img {
  border: 1px solid #f7f7f8;
}

.img-mini-pr>ul:hover {
  border: 1px solid #a3a5a7;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */

.container {
  position: relative;
}

/* Hide the images by default */

.mySlides {
  display: none;
}

/* Next & previous buttons */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  user-select: none;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Container for image text */

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.inf-slide-pr>div>ul {
  border-bottom: 1px dotted #dfe0e1;
  padding: 8px;
}

.text-inf-pr {
  font-size: 20px;
  font-weight: bold;
}

.text2-inf-pr {
  color: #c6c8c9;
  font-style: 12px;
}
.text3-inf-pr {
  font-size: 18px;
  font-weight: bold;
}
.color-slides-pr{
  width: 25px;
  height: 25px;
  background-color: #3e3473;
  border-radius: 50%;
  
}
.test{
  ba
}
