.categorys-ab{
    margin-top: 30px;
    border: 1px solid #e3e5ec;
}
.categorys-ab > ul{
    margin: 10px;
}
.category-ab{
    border-bottom: 1px solid black;
    font-size: 18px;
    text-align: center;
}

.category1-ab > li >a{
    color: black;
    
}